{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
<article{{attributes.addClass('team-member-content')}}>
	<div class="column-1">
		<div class="member-image">{{ content.field_image.0 }}</div>
		<div class="member-title">{{ content.field_title.0 }}</div>
		<div class="member-email">{{ content.field_email.0 }}</div>
		<div class="member-phone">{{ content.field_phone.0 }}</div>
		{% if content.field_vcard.0 %}
			<div class="member-vcard"><a href="{{ content.field_vcard.0 }}">vCard</a></div>
		{% endif %}
		{% if content.field_extras.0 and node.label == "Benjamin Berger" %}
			{% include '@oc_law_firm/inc/ben-avvo.html' %}
		{% endif %}
	</div>
	<div class="column-2">
		<div class="member-body">{{ content.body.0 }}</div>
		{% if content.field_education.0 %}
			<div class="section-heading">
				<span class="separator-icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
						<path d="M12,3L1,9L12,15L21,10.09V17H23V9M5,13.18V17.18L12,21L19,17.18V13.18L12,17L5,13.18Z"/></svg>
				</span>
				<h2>{{content.field_education['#title']}}</h2>
				<span class="separator-line"></span>
			</div>
			<div class="member-education">{{ content.field_education.0 }}</div>
		{% endif %}
		{% if content.field_admissions.0 %}
			<div class="section-heading">
				<span class="separator-icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
						<path d="M9 10A3.04 3.04 0 0 1 12 7A3.04 3.04 0 0 1 15 10A3.04 3.04 0 0 1 12 13A3.04 3.04 0 0 1 9 10M12 19L16 20V16.92A7.54 7.54 0 0 1 12 18A7.54 7.54 0 0 1 8 16.92V20M12 4A5.78 5.78 0 0 0 7.76 5.74A5.78 5.78 0 0 0 6 10A5.78 5.78 0 0 0 7.76 14.23A5.78 5.78 0 0 0 12 16A5.78 5.78 0 0 0 16.24 14.23A5.78 5.78 0 0 0 18 10A5.78 5.78 0 0 0 16.24 5.74A5.78 5.78 0 0 0 12 4M20 10A8.04 8.04 0 0 1 19.43 12.8A7.84 7.84 0 0 1 18 15.28V23L12 21L6 23V15.28A7.9 7.9 0 0 1 4 10A7.68 7.68 0 0 1 6.33 4.36A7.73 7.73 0 0 1 12 2A7.73 7.73 0 0 1 17.67 4.36A7.68 7.68 0 0 1 20 10Z"/></svg>
				</span>
				<h2>{{content.field_admissions['#title']}}</h2>
				<span class="separator-line"></span>
			</div>
			<div class="member-admissions">{{ content.field_admissions.0 }}</div>
		{% endif %}
		{% if content.field_cases.0 %}
			<div class="section-heading">
				<span class="separator-icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><path d="M19,20H4C2.89,20 2,19.1 2,18V6C2,4.89 2.89,4 4,4H10L12,6H19A2,2 0 0,1 21,8H21L4,8V18L6.14,10H23.21L20.93,18.5C20.7,19.37 19.92,20 19,20Z"/></svg>
				</span>
				<h2>{{content.field_cases['#title']}}</h2>
				<span class="separator-line"></span>
			</div>
			<div class="member-cases">{{ content.field_cases.0 }}</div>
		{% endif %}
		{% if content.field_awards.0 %}
			<div class="section-heading">
				<span class="separator-icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
						<path d="M18 2C17.1 2 16 3 16 4H8C8 3 6.9 2 6 2H2V11C2 12 3 13 4 13H6.2C6.6 15 7.9 16.7 11 17V19.08C8 19.54 8 22 8 22H16C16 22 16 19.54 13 19.08V17C16.1 16.7 17.4 15 17.8 13H20C21 13 22 12 22 11V2H18M6 11H4V4H6V11M20 11H18V4H20V11Z"/></svg>
				</span>
				<h2>{{content.field_awards['#title']}}</h2>
				<span class="separator-line"></span>
			</div>
			<div class="member-speaking">{{ content.field_awards.0 }}</div>
		{% endif %}
	</div>
</article>
